html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(sample.jpg);
    background-size: 100%;
    line-height: 1.65;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.sidebar-satu {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

.kolom-utama {
    width: 60%; 
    padding: 0 20px;
    box-sizing: border-box;
}

.sidebar-dua {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

h2, h3 {
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: none;
}